.header {

    padding-top: 30%;
    margin-left: -20px;
}
.logo{
    margin-left: 100px;
}
.a{
    margin: 0px;
}
.b{

    text-align: left;
    text-shadow: azure;
    align-self: baseline;
    text-align: left;

}
.c{
    width: 90%;
}